@font-face {
    font-family: 'Bebas Neue', sans-serif;
    src: url('./assets/fonts/BebasNeue-Regular.ttf');
  }

.wrapper {
    display: flex;
}
.navbar-section {
    background-color: black;
    width: 50px;
    height: 100vh;
    padding: 5px;
    position: fixed;
}
.nav-menu .menu {
    height: 40px;
    margin-bottom: 230px;
    cursor: pointer;
}
.nav-sosmed {
    margin-bottom: 70px;
}
.nav-sosmed .sosmed {
    height: 40px;
    margin-bottom: 5px;
}
.nav-logo .logo {
    height: 40px;
}
.main-konten {
    height: 100vh;
    width: 100%;
    margin-left: 50px;
    background-color: #000000;
opacity: 1;
background: radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #000000 20%, #000000 80%, transparent 80%, transparent) 32.5px 32.5px, linear-gradient(#0d0d0d 2.6px, transparent 2.6px) 0 -1.3px, linear-gradient(90deg, #0d0d0d 2.6px, #000000 2.6px) -1.3px 0;
background-size: 65px 65px, 65px 65px, 32.5px 32.5px, 32.5px 32.5px;
    /* background-color: #000000;
    opacity: 1;
    background-image:  linear-gradient(30deg, #1a1a1f 12%, transparent 12.5%, transparent 87%, #1a1a1f 87.5%, #1a1a1f), linear-gradient(150deg, #1a1a1f 12%, transparent 12.5%, transparent 87%, #1a1a1f 87.5%, #1a1a1f), linear-gradient(30deg, #1a1a1f 12%, transparent 12.5%, transparent 87%, #1a1a1f 87.5%, #1a1a1f), linear-gradient(150deg, #1a1a1f 12%, transparent 12.5%, transparent 87%, #1a1a1f 87.5%, #1a1a1f), linear-gradient(60deg, #1a1a1f77 25%, transparent 25.5%, transparent 75%, #1a1a1f77 75%, #1a1a1f77), linear-gradient(60deg, #1a1a1f77 25%, transparent 25.5%, transparent 75%, #1a1a1f77 75%, #1a1a1f77);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px; */
}
.main-head {
    margin: 80px 0 20px ;
    font-family: 'Bebas Neue', sans-serif;
    
}
.main-head .main-judul {
    font-weight: 700;
    text-align: center;
    font-size: 70px;
    line-height: 43px;
    -webkit-text-fill-color: #f5f5f500;
    -webkit-text-stroke-width: 1px;
    color: #fffefe;
}
.main-judul span {
    -webkit-text-fill-color: #b7a6a6;
}
.main-judul .span1 {
    margin-left: 70px;
}
.main-head .main-judul1 {
    font-weight: 700;
    text-align: center;
    font-size: 70px;
    line-height: 43px;
    -webkit-text-fill-color: #f5f5f500;
    -webkit-text-stroke-width: 1px;
    color: #fffefe;
    margin-left: 100px;
}
.main-judul1 span {
    -webkit-text-fill-color: #b7a6a6;
}
.main-head .main-judul3 {
    font-weight: 700;
    text-align: center;
    font-size: 70px;
    line-height: 43px;
    -webkit-text-fill-color: #b7a6a6;
    -webkit-text-stroke-width: 1px;
    color: #fffefe;
    margin-right: 50px;
    /* letter-spacing: 12px; */
}
.contact {
    margin-top: 30px;
    text-align: center;
}
.contact .tombol1 {
    background-color: #b7a6a6;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    border: 2px solid white;
}
.contact .tombol2 {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    color: whitesmoke;
}
.menu-sidebar {
    font-size: 30px;
    color: white;
    /* margin-left: 50px; */
    position: absolute;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    background-color: black;
    width: 300px;
    display: none;
    transition: 0.3s;
}
.menu-sidebar .sidebar-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}
.menu-sidebar .logo-top {
    height: 35px;
    
}
.menu-sidebar .logo-top1 {
    height: 35px;
    cursor: pointer;
}
.menu-sidebar .sectionmenu a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.menu-sidebar.aktif {
    display: block;
}
.about {
    /* background: rgb(82, 78, 78); */
    background-color: black;
    padding: 20px 0;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 50px;
}
.about .judul-about {
    -webkit-text-fill-color: #f5f5f500;
    -webkit-text-stroke-width: 1px;
    color: #fffefe;
    font-size: 30px;
}
.about .desk-about {
    font-size: 17px;
    color: rgb(130, 129, 126);
    letter-spacing: 2px;
}
.work {
    margin-left: 50px;
    padding: 30px 0;
    /* background-color: #2c2929; */
    background-color: #000000;
opacity: 1;
background-image: radial-gradient(#1a1a1f 0.8500000000000001px, #000000 0.8500000000000001px);
background-size: 17px 17px;
}
.work .judul-work {
    -webkit-text-fill-color: #f5f5f500;
    -webkit-text-stroke-width: 1px;
    color: #fffefe;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.work-kartu {
    /* border: 1px solid white; */
    border-radius: 3px;
    /* background-color: wheat; */
}
.work-kartu img {
    height: 270px;
    width: 100%;
    border-radius: 3px;
    
}
.work-kartu a {
    color: rgb(130, 129, 126);
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
}
.work-kartu p {
    font-size: 12px;
}
.connect {
    padding: 30px;
    text-align: center;
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
}
.connect .connect-judul {
    -webkit-text-fill-color: #f5f5f500;
    -webkit-text-stroke-width: 1px;
    color: #fffefe;
    font-size: 30px;
}
.connect h1 {
    font-size: 20px;
    letter-spacing: 2px;
}
.connect a{
    font-weight: 700;
    color: #1a1a1f;
    text-decoration: none;
}
.connect-sosmed {
    display: none;
}
.connect-sosmed .sosial-connect {
    height: 40px;
    margin: 4px;
}
.footer {
    padding: 2px 0;
    background-color: #000000;
    opacity: 1;
    background-image: radial-gradient(#1a1a1f 0.8500000000000001px, #000000 0.8500000000000001px);
    background-size: 17px 17px;
}
.footer p {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    color: white;
    margin-top: 5px;
}

@media (max-width:768px) {
    .main-head .main-judul {
        font-size: 60px;
        line-height: 35px;
    }
    .main-head .main-judul1 {
        font-size: 60px;
        line-height: 35px;
    }
    .main-head .main-judul3 {
        font-size: 60px;
        line-height: 35px;
    }
    .work-kartu img {
        height: 200px;
        
    }
}

@media (max-width:576px) {
    .wrapper {
        display: block;
    }
    .navbar-section {
        position: relative;
        height: 50px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px;
    }
    .nav-menu .menu {
        height: 30px;
    }
    .nav-sosmed {
        display: none;
    }
    .nav-logo .logo {
        height: 30px;
    }
    .main-konten {
        margin-left: 0;
    }
    .main-head {
        margin-top: 0;
        padding-top: 70px;
    }
    .contact .tombol1 {
        padding: 5px;
    }
    .contact .tombol2 {
        padding: 5px;
    }
    .about {
        margin-left: 0;
    }
    .work {
        margin-left: 0;
    }
    .work-kartu img {
        height: 240px;
        
    }
    .connect-sosmed {
        display: block;
    }
}

@media (max-width:527px) {
    .main-head .main-judul {
        font-size: 50px;
        line-height: 30px;
    }
    .main-head .main-judul1 {
        font-size: 50px;
        line-height: 30px;
    }
    .main-head .main-judul3 {
        font-size: 50px;
        line-height: 30px;
    }
}

@media (max-width:442px) {
    .main-head .main-judul {
        font-size: 40px;
        line-height: 25px;
    }
    .main-head .main-judul1 {
        font-size: 40px;
        line-height: 25px;
    }
    .main-head .main-judul3 {
        font-size: 40px;
        line-height: 25px;
    }
}